@tailwind base;
@tailwind components;
@tailwind utilities;

/* Imported Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Quicksand&family=Limelight&family=Lobster&display=swap');

@layer base {

  body {
    @apply font-[Quicksand];
    @apply bg-[#F3D9E2];
  }

  h1 {
    @apply font-[Limelight];
  }

  h2 {
    @apply font-[Pacifico] text-4xl;
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }

}

.work-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.work-content:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(194, 137, 255, 0.8),
    hsla(242, 87%, 50%, 0.8)
  )!important;


}